{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">¿Estás seguro de que deseas eliminar el laboratorio "{{ laboratorio.nombre }}"?</h2>
    
    <div class="text-center mt-4">
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-lg">Confirmar</button>
            <a href="{% url 'informacion_laboratorios' %}" class="btn btn-secondary btn-lg">Retornar</a>
        </form>
    </div>
</div>
{% endblock %}


